<div class="container flex" style="background-image: linear-gradient(rgba(0,0,0,0.3),
          rgba(0,0,0,0.55)), url('<%= cl_image_path @cocktail.photo, crop: :fill; %>')">

  <div class="cocktail-details text-center">
    <h1><%= "#{@cocktail.name}" %></h1>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
    <%= link_to "Back", cocktails_path , class: "btn btn-warning"%>
    <div class="doses">
      <% @cocktail.doses.each  do |dose| %>   <!-- this is possible because Has many doses -->
        <li>
          <%= "Dosage: #{dose.description} | Ingredient: #{dose.ingredient.name}" %>
          <%= link_to "Delete", dose_path(dose), method: :delete, class: "btn btn-danger"  %>
        </li>
      <% end %>
    </div>
  </div>

</div>
